@font-face {
    font-family: "aftershok";
    src: url('police/After_Shok-webfont.woff') format('woff');
}
body{
    background:#565254;
    font-family:'aftershok','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header
{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-weight:bold important;   
}
#logo{
    border-radius: 20px;
    width: 35px;
    height: 35px;
}
h1 {
    color:#D0CFCF;
    text-shadow: 4px 4px 4px #7A7D7D ;
    font-weight: bold;
    
}
#main{
    margin-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #565254;

}
article{
    border:solid 2px #7A7D7D;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #565254;
    word-wrap: break-word;
    color: white;
}
li{
    padding-top:15px;
    text-align: center;
    list-style: none;
}
footer,nav{
    border: 1px solid white;
    border-radius: 20px;

}
.copyright{
    text-align: center;
}
address{
    padding-bottom: 15px;
}